@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "burgernoodle";
  default: true;
   prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(81% 0.111 293.571);
  --color-primary-content: oklch(28% 0.141 291.089);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(85% 0.138 181.071);
  --color-accent-content: oklch(27% 0.046 192.524);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(84% 0.238 128.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}



html,body{
    font-family:'poppins',sans-serif;
      min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.btn-soft {
    margin-top: 10px;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
